[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.24.0"
filetype = "*"
pytest = "*"
Pillow = "*"
python-dotenv = "*"
pip = "==22.1.1"
eth-keys = "*"
pycryptodome = "*"
protobuf = "*"

[dev-packages]
officy = "*"

[requires]
python_version = "3.9"
